.books-list {
  min-height: 100vh;
}

  .books-list__title {
    padding: 10px 0;
    background: #2e7c31;
    text-align: center;
    font-weight: 400;
    margin: 0;
    color: #fff;
  }

  .books-list__content {
    padding: 0 0 80px;
    flex: 1;
    box-sizing: border-box;
    min-height: calc(100vh - 68px);
  }

    .books-list__content_loading {
      display: flex;
      align-items: center;
    }

  .books-list__search {
    position: fixed;
    right: 25px;
    bottom: 25px;
  }

  .books-list__button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2e7d32 url(add.svg) center no-repeat;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
  }
